// Here you can add other styles
// ::ng-deep button[appasidemenutoggler] {
//     display: none !important;
// }

.toast-container {
    width: 300px;
    pointer-events: initial !important;
}

.toast-info {
    background-image: none;
}

app-login,
app-register {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100vh;
}